@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700;900&family=Poppins:wght@100;200;500;800&display=swap');

body {
  margin: 0;
  background-color: #F0F3F7;
  font-family: 'Poppins', sans-serif;
}

.App-header {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}